{% extends "tethys_apps/app_base.html" %}
{% load staticfiles %}
{% block app_navigation_items %}
  <li class="title">  </li>
  <li class="active"><a href="/apps/mapapp"><h4>Home</h4></a></li>
  <li><a href="/apps/mapapp/map"><h4>Map View</h4></a></li>
  <li><a href="/apps/mapapp/data"><h4>Data Services</h4></a></li>
<li><a href="/apps/mapapp/about"><h4>About</h4></a></li>
<li><a href="/apps/mapapp/proposal"><h2>Project Proposal</h2></a></li>

{% endblock %}

{% block app_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vTmCRQspv-DM6i3twv8HFwKnPuyHiDpNa0hUr1bWlwwkSxpr9uq17vzcdcNKrX-InPQ0l1VFEbSNEVo/pub?embedded=true"></iframe>
</body>
</html>

{% endblock %}

{% block after_app_content %}

{% endblock %}

{% block app_actions %}

{% endblock %}

